* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #faf8f5;
  height: 100vh;
  overflow: hidden;
}


.split {
  display: flex;
  width: 100%;
  min-height: 100vh;
}


.split-left {
  flex: 1;
  background: #1a1410;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
  overflow: hidden;
}


.receipt-preview {
  width: 200px;
  background: #fff;
  padding: 20px;
  transform: rotate(-3deg);
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
  font-size: 8px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.8;
  color: #333;
}

.rp-title {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 6px;
}

.rp-row {
  display: flex;
  justify-content: space-between;
}

.rp-tax {
  color: #999;
  font-size: 7px;
}

.rp-total {
  border-top: 1px dashed #ccc;
  margin-top: 6px;
  padding-top: 6px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.rp-thanks {
  text-align: center;
  margin-top: 8px;
  font-size: 7px;
  color: #aaa;
}

.tagline {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 32px;
  font-family: 'Outfit', sans-serif;
}


.split-right {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
}

.logo-text {
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #666;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 48px;
}

.split-right h1 {
  font-family: 'Instrument Serif', serif;
  font-size: 42px;
  font-weight: 400;
  color: #1a1410;
  line-height: 1.1;
  margin-bottom: 8px;
}

.split-right h1 em {
  font-style: italic;
}

.subtitle {
  color: #999;
  font-size: 14px;
  margin-bottom: 40px;
}

/* ERROR MESSAGE ig*/
.error-msg {
  width: 100%;
  color: #c0392b;
  font-size: 13px;
  margin-bottom: 12px;
  min-height: 18px;
}

.form-row {
  width: 100%;
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #888;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 8px;
}

.form-row input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #e0d8cc;
  background: transparent;
  padding: 12px 0;
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  color: #1a1410;
  outline: none;
  transition: border-color 0.3s;
}

.form-row input:focus {
  border-bottom-color: #1a1410;
}


.login-btn {
  width: 100%;
  background: #1a1410;
  color: #fff;
  border: none;
  padding: 16px;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 16px;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #c8873a;
}

.login-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.signup-link {
  margin-top: 24px;
  font-size: 13px;
  color: #666;
}
.signup-link a {
  color: #1a1410;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}